<!-- <mat-card class="sightings-card"> -->
<div class="sightings-card">
    <div>
        <mat-form-field class="select-hero">
            <mat-select [formControl]="heroSelect" (selectionChange)="drawHeroCircles()">
                <mat-option value="batman">Map Data 1</mat-option>
                <mat-option value="wonderwoman">Map Data 2</mat-option>
                <mat-option value="thor">Map Data 3</mat-option>
                <mat-option value="wolverine">Map Data 4</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <div class="map">
            <svg id="hero-sighting-svg"></svg>
        </div>
        <div class="sightings" *ngIf="heroSelect.value=='batman'">
            <div class="row" *ngFor="let city of heroData.batman">
                <span class="dot"> </span>
                <span class="sightings-name">{{ city }}</span>
            </div>
        </div>
        <div class="sightings" *ngIf="heroSelect.value=='wonderwoman'">
            <div class="row" *ngFor="let city of heroData.wonderwoman">
                <span class="dot"> </span>
                <span class="sightings-name">{{ city }}</span>
            </div>
        </div>
        <div class="sightings" *ngIf="heroSelect.value=='thor'">
            <div class="row" *ngFor="let city of heroData.thor">
                <span class="dot"> </span>
                <span class="sightings-name">{{ city }}</span>
            </div>
        </div>
        <div class="sightings" *ngIf="heroSelect.value=='wolverine'">
            <div class="row" *ngFor="let city of heroData.wolverine">
                <span class="dot"> </span>
                <span class="sightings-name">{{ city }}</span>
            </div>
        </div>
    </div>
</div>

