<header>
	<div title>
		My Dashboard
	</div>
</header>

<div class="content-area">
	<mat-card class="bottom-margin">
		<mat-card-title>Graphs</mat-card-title>
		<mat-card-content>
			<div class="row">
				<div class="kpi">
					<chart [data]="details1" [chartType]="'doughnut'" [chartData]="chartData1" [chartLabels]="labels1" [chartTotal]="total1">
						<div chart-title>Example Doughnut Chart 1</div>
					</chart>
				</div>
				<div class="kpi right">
					<chart [data]="details2" [chartType]="'line'" [chartData]="chartData2" [chartLabels]="labels2">
						<div chart-title>Example Line Chart 1</div>
					</chart>	
				</div>
			</div>
			<div class="row">
				<div class="kpi">
					<chart [data]="details3" [chartType]="'bar'" [chartData]="chartData3" [chartLabels]="labels3">
						<div chart-title>Example Bar Chart 1</div>
					</chart>			
				</div>
				<div class="kpi right">
					<chart [data]="details1" [chartType]="'doughnut'" [chartData]="chartData1" [chartLabels]="labels1" [chartTotal]="total1">
						<div chart-title>Example Doughnut Chart 2</div>
					</chart>		
				</div>
			</div>
		</mat-card-content>
		
	</mat-card>

	
	<app-map [heroData]="sightingsData"></app-map>
	

	<mat-card>
		<mat-card-title>Metrics</mat-card-title>
		<button mat-raised-button color="accent">Accent</button>
	</mat-card>
</div>


<router-outlet></router-outlet>
